@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(4, 3, 15, 0.83);
    --foreground: #1bf64ad9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: 6em;
}