@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(4, 3, 15, 0.83);
    --foreground: #1bf64ad9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gantari', sans-serif;
}

h1 {
  font-size: 6em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number] {
  -moz-appearance: textfield;
} */